* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    min-height: 5rem;
    padding-top: 1rem;
}

.header-flex {
    color: white;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
}

.title-one {
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-right: 1rem;
}

a {
    color: white;
    margin-left: 1rem;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    margin-bottom: -2.3rem;
}

.main-content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: -0.02em;
    max-width: 42.5%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin: .8rem;
    padding: .8rem;
    
}
.image img {
    max-width: 45%;
    border-radius: .8rem;
}

.button-one {
    width: 20%;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .8rem;
    border-color: white;
    color: white;
    cursor: pointer;
    background-color: purple;
}


.section-two {
    background-color: white;
    margin-top: 0;
    min-height: 25rem;
    object-fit: cover;
}

.title-two {
    display: flex; 
    justify-content: center;
    padding-top: 5rem;
    color:#1F2937;
    font-size: 2em;
}

.image-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    gap: 5rem;
    text-align: center;
    line-height: 40px;
}

.image-one img {
    max-height: 12rem;
    filter: brightness(5) invert(0);
}

.image-two img {
    max-height: 12rem;
    filter: brightness(5) invert(0);
}

.image-three img {
    max-height: 12rem;
}

.image-four img {
    max-height: 12rem;
}

.section-three {
    background-color: #E5E7EB;
    min-height: 30rem;
    margin-top: 0; 
    object-fit: cover;
    display: inline-block;
}

.quote-one {
    font-size: 1.5em;
    font-style: normal;
    margin: 3rem;
    margin-top: 5rem;
    max-width: 75%;
    padding-left: 10rem;
}

.author-quote {
    text-align: right;
    max-width: 75%;
}

.section-four {
    min-height: 20rem;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    min-height: 10rem;
    margin: 6.5rem;
    padding: 4rem;
    border-radius: .5rem;
    gap: 175px;
}

.left-content {
    font-size: 1.15em;
    line-height: 35px;
}

.bold-text {
    font-size: 1.50em;
    font-weight: bold;
}

.button-two {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    padding: .7rem;
    width: 175px;
    border-radius: .5rem;
    border: 2px solid white;
    background-color: blueviolet;
    cursor: pointer;
}
