* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    min-height: 5rem;
    padding-top: 1rem;
}

.header-flex {
    color: white;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
}

.title-one {
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-right: 1rem;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    margin-bottom: -2.3rem;
}

.main-content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: -0.02em;
    max-width: 42.5%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin: .8rem;
    padding: .8rem;
    
}
.image img {
    max-width: 45%;
    border-radius: .8rem;
}

.button-one {
    width: 20%;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .8rem;
    border-color: white;
    color: white;
    cursor: pointer;
    background-color: purple;
}


.section-two {
    background-color: antiquewhite;
    margin-top: 0;
    min-height: 25rem;
    object-fit: cover;
}

.title-two {
    display: flex; 
    justify-content: center;
    
}