* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    min-height: 5rem;
    padding-top: 1rem;
}

.header-flex {
    color: white;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
}

.title-one {
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-right: 1rem;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
    flex-direction: column;
    line-height: 50px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin: .8rem;
    padding: .8rem;
    
}
.image img {
    width: 50%;
}